@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:ital,wght@1,900&family=Rubik+Glitch&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Genava, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

*{/*Aqui entra as configurações gerais para toda a página, o código abaixo junta todas as caixas.*/
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;/*O tamanho mínimo do corpo do meu site vai ser de 100 % ou 100vh eu posso usar tanto o % quanto o vh.*/
    background-color: darkgrey;
    font-family: var(--fonte1);
}/*Observação: vh é a altura, vw é a largura.*/

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;/*Faz com que as letras continue maiusculas, mas as do meio ficam menores.*/
    font-family: var(--fonte2);
    font-size: 8vw;/*Vai diminuir em dez por cento de acordo com a tela, referente a largura(weight).*/
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;/*Separei as minha section em 10vh de altura.*/
    padding-bottom: 10vh;/*Separei as minha section em 10vh de altura.*/
    line-height: 2em;/*Coloquei o espaço entre as frases do meu texto.*/
    padding-left: 30px;/*Separei o meu texto em 30px da borda esquerda.*/
    font-family: var(--fonte3);
    font-size: 3.5vw;/*Vai diminuir em 5 por cento de acordo com a tela, referente a largura(weight).*/
} 

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(61, 59, 59, 0.623);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.24);
    display: inline-block;/*Transforma-se em uma caixa que se adapita ao tamanho do meu conteúdo(o texto ou imagem).*/
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}